body{
    font-family: 'Montserrat', sans-serif;
    background-image: url("assets/bgtce3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
 }
#navitem{
    color: black;
} 
.topnav-right {
   float: right;
}
.topnav-left {
   float: left;
}